# Instruções

## Instalação

Antes de começar, você precisa instalar o pacote **Anaconda Python** que pode ser baixado gratuitamente no site da [Continuum](https://www.continuum.io/downloads). Lá vão estar todas as instruções para se instalar o pacote em qualquer sistema operacional.

## Como começar

O primeiro passo para começar a brincar com os dados é baixá-los no site do [INEP](http://portal.inep.gov.br/basica-levantamentos-acessar). Depois, basta descompacta-los em uma pasta qualquer. Lembre-se que o endereço para essa pasta é importante, porque você precisa indica-lo no código.

Nesse exemplo, eu uso uma biblioteca chamada [pandas](http://pandas.pydata.org) e considero que o arquivo descompactado chama-se "dados.csv". Nesse primeiro bloco eu importo a biblioteca e leio o arquivo descompactado através da função **`read_csv`**.

In [1]:
import pandas

enem2014 = pandas.read_csv("dados.csv")

Agora vamos imprimir as 5 primeiras linhas do arquivo. Note que, como esse arquivo possui muitas colunas, o resultado fica resumido. De qualquer forma, é possível acessar todas as colunas.

In [2]:
enem2014.head(n=5)

,NU_INSCRICAO,NU_ANO,COD_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,COD_UF_RESIDENCIA,UF_RESIDENCIA,IN_ESTUDA_CLASSE_HOSPITALAR,COD_ESCOLA,COD_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,...,Q067,Q068,Q069,Q070,Q071,Q072,Q073,Q074,Q075,Q076
0,140000000001,2014,3548708,SAO BERNARDO DO CAMPO,35,SP,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,140000000002,2014,3118601,CONTAGEM,31,MG,0,NaN,NaN,NaN,...,B,B,B,A,B,B,B,B,B,D
2,140000000003,2014,3550308,SAO PAULO,35,SP,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,140000000004,2014,3550308,SAO PAULO,35,SP,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,140000000005,2014,2933307,VITORIA DA CONQUISTA,29,BA,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Nesse próximo bloco, eu quero imprimir apenas os municípios do estado de São Paulo:

In [3]:
enem2014[enem2014.UF_RESIDENCIA=='SP'].NO_MUNICIPIO_RESIDENCIA

0    SAO BERNARDO DO CAMPO
2                SAO PAULO
3                SAO PAULO
Name: NO_MUNICIPIO_RESIDENCIA, dtype: object